.button {
    background-color: #48D1CC;
    color: #fff;
    display: inline-block;
    font-size: 14px;
    font-weight: 500;
    padding: 24px 48px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    white-space: nowrap;
    width: auto;
    height: 64px;
    cursor: pointer;
}

.button-white {
    background: white;
    color: #48D1CC;
}

.button1 {
    text-align: center;
    right: 50px;
    height: 64px;
}

