.image{
    width: 50px;
    height: 50px;
}

.letter{
    font-family: 'Courgette', cursive;;
    margin-top: 4px;
    margin-left: 14px;
    color: #48D1CC;
    font-size: 37px;
    font-weight: bold;
}

.content{
    display: flex;
    align-items: center;
    cursor: pointer;
    position: absolute;
    left: 24px;
}